.LoginPanel{
    padding: 1.5em;
    text-align: center;
    color: white;
    background-color: #4f4f4f;
    border-radius: 1em;
    width: 15em;
}

/* Стили для полей ввода */
.form-group {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #ccc; /* Цвет текста для меток */
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
}

/* Стили для кнопки */
button[type="submit"] {

    background-color: #3f3f3f;
    color: #ccc;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #757575;
}

.logo {
    padding-bottom: 1.5em;
}

.logo > a > img {
    height: 5em;
}

.logo > a > img:hover {
    animation: logo-shake infinite 500ms ease-in-out;
}

@keyframes logo-shake {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}