.LoginPanel{
    padding: 1.5em;

    text-align: center;
    color: white;
    background-color: #4f4f4f;

    border-radius: 1em;
}

@keyframes logo-shake {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }

}

.logo {
    height: 4em;
}
.logo:hover {
    animation: logo-shake infinite 500ms ease-in-out;
}