body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: #242424;
}


@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
}

.btn-img {
  background-color: #3f3f3f;
  color: #ccc;
  border: none;
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-img:hover {
  background-color: #757575;
}

.btn-img > img {
  height: 2em;
}

.hover-shake-right {
  transition: transform 100ms ease-in-out;
}

.hover-shake-right:hover {
  transform: rotate(5deg);
}

.btn-dark {

  background-color: #3f3f3f;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-dark:hover {
  background-color: #757575;
}

.container{
  width:80%;
}

.list-group-item-dark{
   background-color: #4d4d4d; !important;
  color: rgba(255, 255, 255, 0.75);
}